.container {
  width: 100%;
  padding: 0 5%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  /* border-bottom: 1px solid #c6282851; */
}

.background {
  will-change: background-position;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: url("./../../../assets/hero-bg.webp");
  background-size: cover;
  background-color: #ffffff55;
  background-blend-mode: overlay;
  background-position: bottom;
  /* animation: backgroundScroll 35s infinite linear; */
  opacity: 0.05;
}

.title {
  font-size: 6rem;
  font-weight: 900;
}

.subtitle {
  font-size: 3rem;
  font-weight: 500;
}

.jobDesc {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.actions button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
}

.videoContainer {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.videoContainer span {
  font-size: 0.8rem;
  font-weight: 600;
}

.playBtnContainer {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.464);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
  animation: pulse 3s infinite linear;
  cursor: pointer;
}

.playBtnContainer:hover {
  background-color: #c62828;
  transition: 500ms;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.6) !important;
}

.playBtnContainer:hover .playBtn {
  transition: 500ms;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(277deg) brightness(104%) contrast(101%);
}

.playBtn {
  transition: 500ms;
  width: 30%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
  }
}

@keyframes backgroundScroll {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -2000px 0%;
  }
}

@media only screen and (max-width: 568px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .title {
    font-size: 4.5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .jobDesc {
    font-size: 1.2rem;
  }
}
