.container {
  width: 100%;
  min-height: 100vh;
  background: url("./../../../assets/hero-bg.svg");
  background-size: cover;
  background-color: #ffffff55;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.title {
  font-size: 6rem;
  font-weight: 900;
}

.subtitle {
  font-size: 3rem;
  font-weight: 500;
}

.jobDesc {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.actions button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
}
