* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: #000000 !important;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:hover {
  color: #c62828;
  transition: 150ms;
}
